<template>
  <v-layout class="d-flex flex-column justify-center align-center">
    <div class="row">
      <a-notation :note="adviseNbr" :label="adviseNbrLabel"></a-notation>
      <a-notation :note="adviseNbrComment" :label="adviseNbrLabelComment"></a-notation>
    </div>
    <div class="row">
      <a-notation :note="moyenne" :moyenne="true" :label="moyenneLabel"></a-notation>
      <top :headers="headers" :schools="schools" ></top>
    </div>
  </v-layout>
</template>
<script>
import aNotation from '@/components/aNotation.vue'
import top from '@/components/top.vue'
import axios from 'axios'

export default {
  components : {
    aNotation,
    top
  },
  data () {
    return {
      adviseNbr: '-',
      adviseNbrLabel: "Nombre d'avis totaux",
      adviseNbrComment: '-',
      moyenne: '-',
      moyenneLabel: "Moyenne de toutes les notes",
      adviseNbrLabelComment: "Nombre d'avis avec commentaire",
      schools: [],
      headers: []
    }
  },
  async mounted () {
    // GET all advises number
    const advises = await axios.get('/api/advises/total')
    this.adviseNbr = advises.data

    // GET all advises with comments number
    const advisesComments = await axios.get('/api/advises/total-comments')
    this.adviseNbrComment = advisesComments.data

    // GET total moyenne number
    const moyenne = await axios.get('/api/advises/average')
    console.log(moyenne.data)
    this.moyenne = moyenne.data

    // GET top 10
    const schools = await axios.get('/api/advises/top-10')
    this.schools = JSON.parse(JSON.stringify(schools.data));
    console.log(this.schools);
    for (const s of this.schools) {
      delete s._id;
    }
    console.log(this.schools)
    this.headers = Object.keys(this.schools[0])
  }
}
</script>

<style scoped>
.row
{
  display: flex;
  justify-content: center;
  flex-direction: row
}
</style>