<template>
  <v-layout>
    <v-flex class="text-center">
      <v-card
        class="mx-auto"
        max-width="400"
        outlined
      >
        <v-card-title >
          Donnez votre avis !
        </v-card-title>
        <v-form v-model="valid" ref="avis">
          <v-container>
            <v-row align="center" justify="center"
                   class="flex-column">
                <v-rating v-model="score"
                          background-color="orange lighten-3"
                          color="orange"
                          v-on:input="error = null"
                >
                </v-rating>
              <p v-if="">
                {{ error }}
              </p>
                <v-container fluid>
                  <v-text-field
                    v-model="id"
                    :counter="nbSiret"
                    :rules="siretRules"
                    label="Numero de SIRET"
                    required
                  ></v-text-field>

                <v-textarea
                  v-model="comment"
                  autocomplete="comment"
                  label="Votre avis"
                ></v-textarea>

                  <div class="my-2">
                    <v-btn text large
                           v-on:click='checkForm'
                    >Valider</v-btn>
                  </div>
                  <div class="my-2">
                    <v-btn text large
                           v-on:click='resetForm'
                    >Annuler</v-btn>
                  </div>

                </v-container>
            </v-row>
          </v-container>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import axios from 'axios'
  export default {
      data () {
          return{
            valid : true,
            nbSiret: 14,
            siretRules: [v => !!v || 'Le numéro de Siret est obligatoire'],
            score : null,
            id : null,
            comment: null,
            error: null
          }
      },
      methods : {
         async checkForm() {
              if (!this.score || this.score > 5) {
                  this.error = 'Sélectionnez une note!' ;

              }
              if (this.$refs.avis.validate()) {
                  const data = {
                      siret : this.id,
                      score: this.score
                  }
                  if (this.comment && this.comment.length !== 0) data.comment = this.comment;
                  
                  try {
                      await axios.post('/api/advises', data);
                  }
                  catch (error) {
                      console.log(error);
                  }
              }
          },
          resetForm() {
              this.$refs.avis.reset()
              this.score = null;
              this.error = null;
          }
      }
  }
</script>
